<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美团网</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <div class="header-bar">
        <div class="header-bar-left">
            <a href="" class="curent-city">北京</a>
            <a href="" class="change-city">切换城市</a>
            [<a href="" class="city-guess">大厂回族自治县</a>
            <a href="" class="city-guess">廊坊</a>
            <a href="" class="city-guess">固安县</a>]
            <a href="" class="login-in">立即登录</a>
            <a href="" class="login-out">注册</a>
        </div>
        <div class="header-bar-right">
            <ul class="header-bar-list">
                <li><a href="">我的美团</a>
                    <!-- <ul calss="mine-meituan">
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">抵用券</a></li>
                        <li><a href="">账户设置</a></li>
                    </ul> -->
                </li>
                <li><a href="">手机APP</a></li>
                <li><a href="">商家中心</a></li>
                <li><a href="">网站导航</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="header-top">
            <div class="header-logo">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="header-center">
                <div class="header-search">
                    <input type="text" class="header-search-txt" placeholder="搜索商家或地点"">
                    <button class="header-search-btn"><span><i class="iconfont">&#xe60f;</i></span></button>
                </div>
                <div class="header-center-list">
                    <ul>
                        <li><a href="">故宫博物院</a></li>
                        <li><a href="">北京欢乐谷</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <ul class="header-right-list">
                    <li>
                        <a href="" class="header-right-tui"><i class="iconfont">&#xe67b;</i><span>随时退</span></a>                   
                    </li>
                    <li>
                        <a href="" class="header-right-tui"><i class="iconfont">&#xe610;</i><span>不满意免单</span></a>                       
                    </li>
                    <li>
                        <a href="" class="header-right-tui"><i class="iconfont">&#xe747;</i><span>过期退</span></a>                       
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <!-- <div class="header-bottom-list"> -->
                <ul>
                    <li><a href="">美团外卖</a></li>
                    <li><a href="">猫眼电影</a></li>
                    <li><a href="">美团酒店</a></li>
                    <li><a href="">民俗/公寓</a></li>
                    <li><a href="">商家入驻</a></li>
                    <li><a href="">美团公益</a></li>
                </ul>
            <!-- </div> -->
        </div>
    </header>
    <section>
        <div class="nav">
            <div class="nav-list">
                <p class="classall">
                    全部分类
                </p>
                <ul>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>
                    <li><span class="nav-li-font"><i class="iconfont nav-icon">&#xe60a;</i>美食</span><span>></span></li>           
                </ul>
            </div>
            <div class="nav-content">
                <div class="nav-content-top">
                    <div class="nav-carousel">

                    </div>
                    <div class="nav-content-top2">

                    </div>
                    <div class="nav-login">

                    </div>
                </div>
                <div class="nav-content-bottom">
                    <div class="nav-content-bottom1">

                    </div>
                    <div class="nav-content-bottom2">
                        
                    </div>
                    <div class="nav-content-bottom3">
                    
                    </div>
                    <div class="nav-qr-code">

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>