<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <div class="header-bar">
        <div class="header-bar-left">
            <a href="" class="curent-city">北京</a>
            <a href="" class="change-city">切换城市</a>
            [<a href="" class="city-guess">大厂回族自治县</a>
            <a href="" class="city-guess">廊坊</a>
            <a href="" class="city-guess">固安县</a>]
            <a href="" class="login-in">登录</a>
            <a href="" class="login-out">注册</a>
        </div>
        <div class="header-bar-right">
            <ul calss="header-bar-list">
                <li><a href="">我的美团</a>
                    <!-- <ul calss="mine-meituan">
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">抵用券</a></li>
                        <li><a href="">账户设置</a></li>
                    </ul> -->
                </li>
                <li><a href="">手机APP</a></li>
                <li><a href="">商家中心</a></li>
                <li><a href="">网站导航</a></li>
            </ul>
        </div>
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>