* {
    margin: 0; padding: 0;
    font-size: 12px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
ul, h1, h2 {
    margin: 0; padding: 0;
}
li {
    list-style: none;  
}

a {
    color: #999;
    text-decoration: none;
}

img {
    display: block;
}

input, button {
    outline: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('/iconfont/icon-header/iconfont.eot');
    src: url('/iconfont/icon-header/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfont/icon-header/iconfont.woff') format('woff'),
    url('/iconfont/icon-header/iconfont.ttf') format('truetype'),
    url('/iconfont/icon-header/iconfont.svg#iconfont') format('svg');
  } 

// .iconfont{
//     font-family:"iconfont" !important;
//     font-size:25px;font-style:normal;
//     -webkit-font-smoothing: antialiased;
//     -webkit-text-stroke-width: 0.2px;
//     -moz-osx-font-smoothing: grayscale;
// }

@font-face {
    font-family: 'iconfont';
    src: url('/iconfont/icon-nav/iconfont.eot');
    src: url('/iconfont/icon-nav/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfont/icon-nav/iconfont.woff') format('woff'),
    url('/iconfont/icon-nav/iconfont.ttf') format('truetype'),
    url('/iconfont/icon-nav/iconfont.svg#iconfont') format('svg');
  }

  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

  .header-bar {
    height: 40px;
    background: #F8F8F8;
    .header-bar-center {
        width: 1190px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-bar-left {
    .change-city {
        margin: 0 4px;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        padding: 0 2px;
        color: #666;
    }

    .curent-city {
        color: #666;
    }
    
    .change-city:hover {
        color: #31BBAC;
    }

    .city-guess:hover {
        color: #31BBAC;
    }

    .city-guess {
        margin: 0 3px;
    }

    .login-in {
        margin-left: 20px;
        margin-right: 10px;
        color:#31BBAC;
    }

    .login-out:hover {
        color:#31BBAC;
    }
}
.header-bar-right {
    .header-bar-list-active {
        background: #fff;
        border: 1px solid #E5E5E5;
        border-bottom: 0;
        box-sizing: border-box;
        box-shadow: 0 -3px 5px 0 rgba(0,0,0,.1);
    }
    .header-bar-list-show {
        position: absolute;
        // z-index: 999;
        border: 1px solid #E5E5E5;
        text-align: center;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
        display: none;
        right: -1px;
        z-index: 1000;
        top: 95%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #fff;
        // li {
        //     // padding: 0;
        //     // height: 40px;
        //     background: #fff;
        // }
    }
    .header-bar-list {
        display: flex;
        & > li {
            padding: 0 14px;
            position: relative;
            // z-index: 100000;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
        }
        // .haschild1 {
        //     display: block;
        //     height: 100%;
        //     width: 100%;
        //     padding: 0 14px;
        // }
        #mymeituan {
            .mine-meituan {
                // position: absolute;
                // top: 39px;
                left: -1px;
                // right: -1px;
                // border: 1px solid #E5E5E5;
                border-top: 0;
                // text-align: center;
                // box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
                // display: none;
                // border-bottom-left-radius: 4px;
                // border-bottom-right-radius: 4px;
                li {
                    // padding: 0;
                    height: 40px;
                    // background: #fff;
                }
            }
        }
        #merchant-center {
            .merchant-center {
                width: 140%;
                // top: 39px;
                // left: -1px;
                // right: -1px;
                border-top: 0;
                // display: none;
                li {
                    // padding: 0 14px;
                    height: 40px;
                }
            }
        }

        #site-navigation {
            .site-navigation {
                // display: flex;
                justify-content: space-between;
                // flex-wrap: nowrap;
                width: 1200px;
                padding: 30px;
                box-sizing: border-box;
                border-top-left-radius: 4px;
                // top: 95%;;
                // // left: -1px;
                // right: -1px;
                border-top: 0;
                // display: none;
                h3 {
                    color: #31BBAC;
                    font-size: 14px;
                    margin-bottom: 25px;
                    // text-align: center;
                }
                .site-navigation-left {
                    display: flex;
                    // flex: 1;    
                    .site-navigation-left-titel {
                        padding-right: 40px;
                        // h3 {
                        //     color: #31BBAC;
                        // }
                        .hotel-tourismm-content {
                            display: flex;
                            .hotel-tourismm-list {
                                // padding: 0 5px;
                                li {
                                    height: 30px;
                                    padding: 0px 10px;
                                }
                            }
                        }
                    }
                }
                .site-navigation-right {
                    // width: 400px;
                    flex: 1;
                    // flex-shrink: 1;
                    .site-navigation-right-app {
                        display: flex;
                        justify-content: space-around;
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }

    }

}

header {
    background: #fff;
    // color: #999;
    .header-bigcenter {
        padding: 28px 0 18px 0;
        width: 1190px;
        margin: 0 auto;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        .header-logo img{
            width: 126px;
            height: 46px;
        }
    }
    .header-center {
        .header-search {
            width: 550px;
            height: 40px;
            border: 1px solid #13D1BE;
            border-radius: 4px;
            display: flex;
            position: relative;
            .header-search-txt {
                width: 84%;
                border: 0;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 4px 0 4px 4px;
            }

            .header-search-btn {
                flex: 1;
                // width: 15%;
                height: 100%;
                border: 0;
                box-sizing: border-box;
                height: 100%;
                background: #13D1BE;
                border-radius: 0 4px 4px 0;
                font-size: 16px;
                font-weight: bolder;
                line-height: 100%;
                color: #fff;
                cursor: pointer;
            }

            .header-search-hide {
                display: none;
                box-sizing: border-box;
                padding: 10px;
                width: 84%;
                background: #fff;
                position: absolute;
                border: 1px solid #E5E5E5;
                top: 41px;
                left: 0;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                overflow: hidden;
                white-space: nowrap;
                h3 {
                    margin-bottom: 10px;
                }
                span {
                    margin-right: 5px;
                    color: #666;
                    cursor: pointer;
                    // overflow: hidden;
                }
            }

        }
        .header-center-list {
            padding: 8px 0 0 12px;
            ul {
                display: flex;
                li {
                    margin-right: 10px;
                }
            }
        }
    }

    .header-right {
        .header-right-list {
            display: flex;
            justify-content: space-between;
            width: 186px;
            // color: #13D1BE;
            li {
                .header-right-tui {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .iconfont {
                        color: #13D1BE;
                        font-size: 25px;
                    }

                }
            }

        }
    }
    
    
}
.header-bottom {
    // padding-bottom: 15px;
    width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        margin: 20px 0;
        li {
            margin: 0 15px;
        }
    }
    a {
        color: #000;
        font-size: 16px;
        font-family: "黑体";
    }
    a:hover {
        color: rgb(237, 30, 36);
    }
}

section{
    background: #F8F8F8;
    .section-center {
        width: 1190px;
        margin: 0 auto;
    }
}


.footer-nav {
    margin-top: 40px;
    padding: 20px 45px 40px 45px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;  
    display: flex;
    justify-content: space-between;
    p {
        margin-top: 20px;
        font-size: 15px;
        color: #666;
    }
    li {
        margin: 8px 0;
    }

    a {
        color: #666;
    }

    li:hover a{
        color: #31BBAC;
    }
}