
header {
    .heder-center {
        width: 980px;
        margin: 40px auto;
        .site-logo {
            display: block;
            width: 82px;
            height: 54px;
            background-position: -188px -808px;
            background-image: url(/images/bg-position.png);
            background-size: initial;
        }
    }
}

section {
    width: 980px;
    margin: 0 auto;
    .content {
        display: flex;
        color: #666;
        font-size: 14px;
        form {
            margin-top: 50px;
            margin-left: 70px;  
            .form-header {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                .header-txt {
                    font-size: 12px;
                }
                .phone {
                    font-weight: 700;
                    font-size: 14px;
                    color: rgb(46, 184, 171);
                }
            }
            .frame {
                width: 270px;
                padding: 8px 0 8px 5px;;
                border: 1px solid #aaa;
                margin-bottom: 15px;
                .user-icon {
                    color: rgb(221, 221, 221);
                    font-size: 20px;
                }
                .input-txt{
                    border: 0;
                    margin-left: 5px;
                    margin-left: 5px;
                }
            }
            .forget-pwd {
                height: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .small-stdio {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 3px;
                    border: 1px solid #999;
                }
                .small-stdio:hover {
                    border-color: #2bb8aa;
                }
                .forgetpwd {
                    float: right;
                    color: #2bb8aa;
                }
                .forgetpwd:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}