// * {
//     font-size: 12px;
// }

// a {
//     color: #999;
//     text-decoration: none;
// }

// img {
//     display: block;
// }

body {
    background: #fff;
    color: #999;
}

// .module-header {
//     margin-top: 36px;
//     display: flex;
//     align-items: center;
//     border-radius: 3px 3px 0 0;
//      width: 100%;
//     height: 44px;
//     color: #fff;
// }

.style-top {
    margin-top: 36px;
    display: flex;
    align-items: center;
    border-radius: 3px 3px 0 0;
     width: 100%;
    height: 44px;
    color: #fff;
    background-color: rgb(190, 164, 116);
    background-image: linear-grafient(to right, rgb(194, 176, 142) 3%, rgb(190, 164, 116) 100%);
    p {
        font-size: 18px;
        margin-left: 30px;
        margin-right: 20px;
    }
    ul {
        display: flex;
        li {
            padding:0 5px;
            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .all {
        margin-right: 20px;
        color: #fff;
        font-size: 14px;
    }
    div {
        display: flex;
        align-items: center;
    }
}

.style-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    .style-list:hover {
        background-color: rgb(244,244,244);
    }
    .style-list {
        cursor: pointer;
        // background: red;
        // flex: 1;
        padding: 10px;
        // padding-bottom: 15px;
        width: 369px;
        height: 300px;
        border-radius: 4px;
        background-color: #fff;
        transition: background-color .5s;
        img {
            width: 369px;
            height: 208px;
            border-radius: 4px;
        }
        .style-list-title {
            font-size: 16px;
            color: #222;
            height: 22px;
            line-height: 22px;
            margin: 8px 0;
            font-weight: bold;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .style-list-tag {
            display: flex;
            margin-bottom: 10px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
                border: 1px solid #d8d8d8;
                margin-right: 10px;
                padding: 0 3px;
            }
        }
        .favorable-txt {
            //    margin-bottom: 35px;
               width: 100%;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
           }
        // .style-list-price {
        //     font-size: 22px;
        //     color: #BE9E40;
        //     letter-spacing: -.8px;
            // margin-top: 20px;
            .style-list-price {
                margin-top: 20px;
                height: 22px;
                line-height: 22px;
                font-size: 14px;
                // color: #F60;
                color: #BE9E40;
                .number {
                    // color: #BE9E40;
                    font-size: 22px;
                    margin-right: 6px;
                    letter-spacing: -.8px;
                }
                .underline {
                    font-size: 12px;
                    color: #999;
                    text-decoration: line-through;
                }
                .location, .sold  {
                    float: right;
                    color: #999;
                    margin-top: 3px;
                }

                // .sold {
                //     float: right;
                //     color: #999;
                //     margin-top: 3px;
                // }
            // }
        }
    }
}