<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <header>
        <div class="heder-center">
            <a class="site-logo" href="http://www.meituan.com"></a>
        </div>
    </header>
    <section>
        <div class="content">
            <div class="login-img">
                <img src="/images/login.jpg" alt="">
            </div>
            <div>
                <form action="">
                    <p class="form-header">
                        <span>账号登录</span>
                        <span class="header-txt">手机动态码登录
                            <svg class="icon phone" aria-hidden="true">
                                <use xlink:href="#icon-shouji"></use>
                            </svg>
                        </span>
                    </p>
                    <div class="frame">
                        <svg class="icon user-icon" aria-hidden="true">
                            <use xlink:href="#icon-shouji"></use>
                        </svg>
                        <input class="input-txt" type="text" placeholder="手机号/用户名/邮箱">
                    </div>
                    <div class="frame">
                        <svg class="icon user-icon" aria-hidden="true">
                            <use xlink:href="#icon-shouji"></use>
                        </svg>
                        <input class="input-txt" type="password" placeholder="密码"">
                    </div>
                    <div class="forget-pwd">
                        <span>
                            <span class="small-stdio"></span>
                            <span>七天内自动登录</span>
                        </span>
                        <a class="forgetpwd" href="https://passport.meituan.com/account/retrievepassword?service=www&continue=http%3A%2F%2Fwww.meituan.com%2Faccount%2Fsettoken%3Fcontinue%3Dhttps%253A%252F%252Fbj.meituan.com%252F">忘记密码？</a>
                    </div>  
                </form>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//at.alicdn.com/t/font_839449_crw9tobt4oa.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.cookie.js"></script> -->
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>