<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册 </title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <header>
        <div class="heder-center">
            <a href="http://www.meituan.com"><img src="/images/meituan.png" alt=""></a>
            <div class="btn">
                <span>已有美团账号？</span>
                <a href="">登录</a>
            </div>
        </div>
    </header>
<!-- inject:js -->
<!-- endinject -->
</body>
</html> 
